<h1>
   {# Welcome to symfony course! #}
   {#  {{title}} #}
   {# this is comment #}
    {{dump(title)}}

    {% if title %}
        <p>{{title}}</p>
        {% else %}
        <p>no title</p>
        {% endif %}
</h1>
   